.z-container
{
    position: relative;
    margin: 100px;
}
div
{
    width: 150px;
    height: 150px;
    border-radius: 100px;
    position: absolute;
    color: white;
    text-align: center;
    font-size: 20px;
    border: 3px solid white;
}
.blue
{
    background-color: blue;
    left:60px;
    z-index: 3;
    box-shadow: 4px 4px 4px grey;
}
.green
{
    background-color: green;
    left:120px;
    z-index: 2;
    box-shadow: 4px 4px 4px grey;
}
.red
{
    background-color: red;
    left:180px;
    z-index: 1;
    box-shadow: 4px 4px 4px grey;
}